{% extends "admin/base.html" %}
{% block title %}IngGaset GANADERA{% endblock %}

{% block extrastyle %}
<style>
#header{background:#425d4d!important}
#header #branding h1 a{color:#d9e6c3!important;font-weight:900}
div.breadcrumbs{background:#344a3e!important}
.module h2,.module caption{background:#425d4d!important;color:#d9e6c3!important}
body{background:#ece4d1!important}
.btn-panel{background:#d9e6c3!important;color:#425d4d!important;padding:8px 16px!important;border-radius:999px!important;font-weight:800!important;text-decoration:none!important;border:2px solid #425d4d;margin-left:12px}
.btn-panel:hover{background:white!important}
</style>
<link rel="stylesheet" href="/static/admin/inggaset_tabla.css">
{% endblock %}

{% block userlinks %}<a href="/" class="btn-panel">→ IR AL PANEL</a> / {{ block.super }}{% endblock %}

{% block branding %}<h1 id="site-name"><a href="{% url 'admin:index' %}">I • IngGaset GANADERA</a></h1>{% endblock %}